* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100vh;
}

h2 {
  font-size: 1.125em;
  margin-bottom: 10px;
}

p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: .750em;
  margin-bottom: 20px;
}

ul{
  list-style: none;
}

/****************************************
****************** Nav ******************
*****************************************/
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.banner {
  margin: 20px 20px 10px 20px;
  font-size: 24px;
  text-align: center;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.page-links {
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.page-links li {
  text-align: center;
  padding: 5px 15px;
  margin: 5px;
  width: 40%;
}

.page-links li a:hover {
  font-weight: 800;
  font-size: 20px;
}

.selected {
  font-style: italic;
}

.page-links li:first-child, .page-links li+li {
  border-bottom: 1px solid;
}

#nav-arrow {
  font-size: 32px;
  padding: 0px 30px;
}

/****************************************
****************** Main *****************
*****************************************/

section {
  background-color: #f4f3f0;
  box-shadow: inset 0px 4px 4px -1px rgba(0, 0, 0, .3);
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: white;
}

form,
.content {
  width: 90%;
  text-align:left;
}

.radioBoxesList {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px 8px;
  margin-top: 5px;
}

.output-area {
  margin-top: 20px;
}

button {
  margin-top: 10px;
  padding: 3px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
}

.example {
  margin-left: 25px;
}

/****************************************
****************** Footer ***************
*****************************************/

footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #404040;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
}

.footer-container {
  width: 90%;
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.icons {
  max-width: 24px;
  border-radius: 50%;
  margin-left: 5px;
}

/****************************************
*********** Media Queries ***************
*****************************************/

@media screen and (min-width: 600px) {
  .wrapper {
    width: 80%;
  }
  .footer-container {
    width: 80%;
  }
}
/*****************************************/
@media screen and (min-width: 900px) {

  header {
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .banner {
    margin: 30px 30px 30px 45px;
  }

  .page-links {
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 45px 30px 30px;
  }

  .page-links li {
    margin: 0px;
    padding: 15px;
  }

.page-links li:first-child, .page-links li+li {
  border-bottom: none;
  border-right: 1px solid;
}

.page-links li:last-child {
  border-bottom: none;
  border-right: none;
}

  #nav-arrow {
    display: none;
  }

  .wrapper {
    width: 60%;
  }
  .footer-container {
    width: 60%;
  }
}

/*****************************************/
@media screen and (min-width: 900px) and (min-height: 700px) {
  p {
    font-size: 1em;
  }
}

/*****************************************/
@media screen and (min-width: 1100px) {

  .wrapper {
    width: 50%;
  }
  .footer-container {
    width: 50%;
  }
}
