<div class="dropdown-divider my-15"></div>
<div
  class="btn-container d-flex justify-content-between">
  <!-- Previous -->
  <button class="btn btn-primary mr-auto wizard-btn d-none" id="prev-btn">Previous</button>
  <!-- Next -->
  <button class="btn btn-primary ml-auto wizard-btn d-block" id="next-btn">Next</button>
  <div class="text-right wizard-btn d-none" id="final-btn">
    <a href="#" class="btn btn-success ml-auto text-dark" role="button">Done</a>
  </div>
</div>