<head>
  <title>
    {{ config.title }}
    {% if title %}
      - {{ title }}
    {% endif %}
  </title>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ processEnv.gaTagId }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "{{ processEnv.gaTagId }}");
  </script>
  <meta charset="UTF-8"/>
  <meta name="og:site_name" content="{{ config.site_name }}"/>
  <meta name="keywords" content="{{ config.keywords }}"/>
  <meta property="og:title" content="{{ config.title }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
    <meta name="og:description" content="{{ description }}"/>
  {% endif %}
  {% if config.social.og %}
    <meta name="og:image" content="https://hebrewtransliteration.app/{{ config.social.og.image }}"/>
  {% endif %}
  <!-- Twitter meta -->
  {% if config.social.twitter %}
    <meta name="twitter:card" content="{{ config.social.twitter.card }}"/>
    <meta name="twitter:creator" content="{{ config.social.twitter.creator }}"/>
  {% endif %}
  <meta name="generator" content="Eleventy"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet"/>
  {% set css %}
    {% include "src/assets/css/main.css" %}
  {% endset %}
  <style>{{css | cssmin | safe}}</style>
  <link rel="icon" href="{{ '/assets/img/favicon.svg' | url }}"/>
  <script defer="true" src="{{ '/assets/friconix.js' | url }}"></script>
  <link rel="preload" href="{{ '/assets/img/bmc-button.svg' | url }}" as="image">

  {#
  Defer non-critical css for the toast
  https://web.dev/articles/defer-non-critical-css
  #}
  <link
    rel="preload"
    as="style"
    href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    onload="this.onload=null;this.rel='stylesheet'">
</head>