<div class="nav-bar-wrapper bg-white-lm bg-dark-light-dm py-10 border-bottom">
  <div class="container">
    <div class="row">
      <div
        class="col d-flex justify-content-center">
        <!-- Navbar Start -->
        <nav
          class="navbar px-md-0 mx-sm-20 w-full w-md-three-quarter bg-white-lm bg-dark-light-dm border-0">
          <!-- Navbar brand start -->
          <div class="navbar-brand">
            <a class="text-light-dm text-dark-lm" style="text-decoration: none;" href="/">{{ config.title }}</a>
          </div>
          <!-- Navbar brand end -->
          <!-- Navbar content -->
          <div
            class="navbar-content ml-auto">
            <!-- Darkmode Btn start -->
            <button class="btn border btn-action mr-5" type="button" id="dm-toggle" aria-label="Toggle dark mode">
              <i class="fi-xnsuxl-bulb-solid"></i>
            </button>
            <!-- Darkmode Btn end -->
            <!-- Nav Link Btns start -->
            <div class="mr-5 hidden-md-and-down">
              {% for item in config.navbarMenu %}
                <a href="{{ item.url | url }}" class="btn border">{{ item.text }}</a>
              {% endfor %}
            </div>
            <!-- Nav Link Btns end -->
            <!-- Dropdown menu start -->
            <div class="dropdown with-arrow hidden-lg-and-up">
              <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">Menu
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                {% for item in config.navbarMenu %}
                  <a href="{{ item.url }}" class="dropdown-item">{{ item.text }}</a>
                {% endfor %}
              </div>
            </div>
            <!-- Dropdown menu end -->
          </div>
          <!-- Navbar content end -->
        </nav>
        <!-- Navbar End -->
      </div>
    </div>
  </div>
</div>