{% extends "modal.njk" %}
{% block cards %}
  {% for option in removeOptions %}
    <!-- CARD {{ loop.index }} START -->
    <div
      class="modal-card {% if loop.index === 1 %} d-block {% else %} d-none {% endif %}">
      <!-- PROGRESS BAR START -->
      <div class="progress mb-15">
        <div class="progress-bar" style="width: {{ option.progress }}%" role="progressbar" aria-labelledby="customization" aria-valuenow="{{ option.progress }}" aria-valuemin="{{ option.progress }}" aria-valuemax="100"></div>
      </div>
      <!-- PROGRESS BAR END -->
      <h5 class="modal-title">{{ option.title }}</h5>
      <div
        class="col-sm custom-checkbox form-group">
        <!-- SELECT ALL START -->
        <input type="checkbox" name="select-all-{{ loop.index }}" id="select-all-{{ loop.index }}" value=""/>
        <label for="select-all-{{ loop.index }}">Select all</label>
        <!-- SELECT ALL END -->
        <div class="dropdown-divider my-15"></div>
        <!-- FORM START -->
        <form id="step-{{ loop.index }}-form">
          <div class="form-group">
            <div class="container-sm">
              <div class="row">
                {% for row in option.rows %}
                  <div class="col-sm">
                    {% for value in row %}
                      <!-- {{ value }} start -->
                      <div class="col-sm custom-checkbox form-group">
                        <input class="option" type="checkbox" name="{{ value }}" id="{{ value }}" value=""/>
                        <label for="{{ value }}">{{ value | replace("_", " ") | capitalize }}</label>
                      </div>
                      <!-- {{ value }} END -->
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
        <!-- FORM END -->
      </div>
    </div>
    <!-- CARD {{ loop.index }} END -->
  {% endfor %}
{% endblock %}
{% block controls %}
  {% include "basic-modal-control.njk" %}
{% endblock %}