{% extends "modal.njk" %}
{% block cards %}
  <!-- SCHEMA start -->
  <div class="modal-card d-block" id="schema-select-modal">
    <h5 class="modal-title">Choose a schema</h5>
    <!-- Progress bars -->
    <div class="sr-only" id="customization">customization</div>
    <div class="progress mb-10">
      <div
        class="progress-bar"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="schema-form">
      <div
        class="form-group d-flex flex-column">
        <!-- Schema select start -->
        <div class="schema-select-wrapper">
          <label for="schema-select">Either choose a transliteration schema from the list below:</label>
          <select class="form-control" id="select-schema" name="schema-select">
            {% for schema in config.schemas %}
              <option value="{{ schema.value }}">{{ schema.text }}</option>
            {% endfor %}
          </select>
        </div>
        <!-- Schema select end -->
        <!-- File input start -->
        <div class="file-input-wrapper mt-10">
          <div>
            Or upload your own:
          </div>
          <div class="custom-file">
            <input type="file" id="schema-input" accept=".json" class="w-full"/>
            <label for="schema-input" class="w-full">...</label>
          </div>
        </div>
        <!-- File input end -->
      </div>
      <a href="#" class="btn btn-success w-full" role="button">Use this schema!</a>
    </form>
  </div>
  <!-- SCHEMA end -->
  <!-- CONSONANTS (1) start -->
  <div class="modal-card d-none" id="consonants-1-modal">
    <h5 class="modal-title">Consonants (1 of 3)</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 11%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="11"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="consonants-1-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div
              class="col-sm">
              <!-- ALEF -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="ALEF">Aleph א</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="ALEF" id="ALEF"/>
                </div>
              </div>
              <!-- BET -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="BET">Bet ב</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="BET" id="BET"/>
                </div>
              </div>
              <!-- BET_DAGESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="BET_DAGESH">Bet Dagesh בּ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="BET_DAGESH" id="BET_DAGESH"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Optional, defaults to form without dagesh" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
              <!-- GIMEL -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="GIMEL">Gimel ג</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="GIMEL" id="GIMEL"/>
                </div>
              </div>
            </div>
            <!-- Middle Col -->
            <div
              class="col-sm">
              <!-- GIMEL_DAGESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="GIMEL_DAGESH">Gimel Dagesh גּ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="GIMEL_DAGESH" id="GIMEL_DAGESH"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Optional, defaults to form without dagesh" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
              <!-- DALET -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="DALET">Dalet ד</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="DALET" id="DALET"/>
                </div>
              </div>
              <!-- DALET_DAGESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="DALET_DAGESH">Dalet Dagesh דּ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="DALET_DAGESH" id="DALET_DAGESH"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Optional, defaults to form without dagesh" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
              <!-- HE -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HE">He ה</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HE" id="HE"/>
                </div>
              </div>
            </div>
            <!-- Right Col -->
            <div
              class="col-sm">
              <!-- VAV -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="VAV">Waw ו</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="VAV" id="VAV"/>
                </div>
              </div>
              <!-- ZAYIN -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="ZAYIN">Zayin ז</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="ZAYIN" id="ZAYIN"/>
                </div>
              </div>
              <!-- HET -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HET">Het ח</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HET" id="HET"/>
                </div>
              </div>
              <!-- TET -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="TET">Tet ט</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="TET" id="TET"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- CONSONANTS (1) end -->
  <!-- CONSONANTS (2) start -->
  <div class="modal-card d-none" id="consonants-2-modal">
    <h5 class="modal-title">Consonants (2 of 3)</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 22%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="22"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="consonants-2-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div
              class="col-sm">
              <!-- YOD -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="YOD">Yod</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="YOD" id="YOD"/>
                </div>
              </div>
              <!-- KAF -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="KAF">Kaf כ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="KAF" id="KAF"/>
                </div>
              </div>
              <!-- KAF_DAGESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="KAF_DAGESH">Kaf Dagesh כּ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="KAF_DAGESH" id="KAF_DAGESH"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Optional, defaults to form without dagesh" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
              <!-- FINAL_KAF -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="FINAL_KAF">Final Kaf ך</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="FINAL_KAF" id="FINAL_KAF"/>
                </div>
              </div>
            </div>
            <!-- Middle Col -->
            <div
              class="col-sm">
              <!-- LAMED -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="LAMED">Lamed ל</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="LAMED" id="LAMED"/>
                </div>
              </div>
              <!-- MEM -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="MEM">Mem מ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="MEM" id="MEM"/>
                </div>
              </div>
              <!-- FINAL_MEM -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="FINAL_MEM">Final Mem ם</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="FINAL_MEM" id="FINAL_MEM"/>
                </div>
              </div>
              <!-- NUN -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="NUN">Nun נ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="NUN" id="NUN"/>
                </div>
              </div>
            </div>
            <!-- Right Col -->
            <div
              class="col-sm">
              <!-- FINAL_NUN -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="FINAL_NUN">Final Nun ן</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="FINAL_NUN" id="FINAL_NUN"/>
                </div>
              </div>
              <!-- SAMEKH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SAMEKH">Samekh ס</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SAMEKH" id="SAMEKH"/>
                </div>
              </div>
              <!-- AYIN -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="AYIN">Ayin ע</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="AYIN" id="AYIN"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- CONSONANTS (2) end -->
  <!-- CONSONANTS (3) start -->
  <div class="modal-card d-none" id="consonants-3-modal">
    <h5 class="modal-title">Consonants (3 of 3)</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 33%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="33"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="consonants-3-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div
              class="col-sm">
              <!-- PE -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="PE">Pe פ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="PE" id="PE"/>
                </div>
              </div>
              <!-- PE_DAGESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="PE_DAGESH">Pe Dagesh פּ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="PE_DAGESH" id="PE_DAGESH"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Optional, defaults to form without dagesh" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
              <!-- FINAL_PE -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="FINAL_PE">Final Pe ף</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="FINAL_PE" id="FINAL_PE"/>
                </div>
              </div>
              <!-- TSADI -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="TSADI">Tsadi צ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="TSADI" id="TSADI"/>
                </div>
              </div>
            </div>
            <!-- Middle Col -->
            <div
              class="col-sm">
              <!-- FINAL_TSADI -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="FINAL_TSADI">Fianl Tsadi ץ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="FINAL_TSADI" id="FINAL_TSADI"/>
                </div>
              </div>
              <!-- QOF -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="QOF">Qof ק</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="QOF" id="QOF"/>
                </div>
              </div>
              <!-- RESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="RESH">Resh ר</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="RESH" id="RESH"/>
                </div>
              </div>
              <!-- SIN -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SIN">Sin שׂ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SIN" id="SIN"/>
                </div>
              </div>
            </div>
            <!-- Right Col -->
            <div
              class="col-sm">
              <!-- SHIN -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SHIN">Shin שׁ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SHIN" id="SHIN"/>
                </div>
              </div>
              <!-- TAV -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="TAV">Tav ת</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="TAV" id="TAV"/>
                </div>
              </div>
              <!-- TAV_DAGESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="TAV_DAGESH">Tav Dagesh תּ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="TAV_DAGESH" id="TAV_DAGESH"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Optional, defaults to form without dagesh" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- CONSONANTS (3) end -->
  <!-- VOWELS (1) start -->
  <div class="modal-card d-none" id="vowels-1-modal">
    <h5 class="modal-title">Vowels (1 of 2)</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 44%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="44"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="vowels-1-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div
              class="col-sm">
              <!-- VOCAL_SHEVA -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="VOCAL_SHEVA">Vocal Shewa ְ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="VOCAL_SHEVA" id="VOCAL_SHEVA"/>
                </div>
              </div>
              <!-- PATAH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="PATAH">Patah  ַ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="PATAH" id="PATAH"/>
                </div>
              </div>
              <!-- FURTIVE_PATAH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="FURTIVE_PATAH">Furtive Patah ◌ַ
                </label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="FURTIVE_PATAH" id="FURTIVE_PATAH"/>
                </div>
              </div>
              <!-- HATAF_PATAH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HATAF_PATAH">Hataf Patah ֲ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HATAF_PATAH" id="HATAF_PATAH"/>
                </div>
              </div>
            </div>
            <!-- Middle Col -->
            <div
              class="col-sm">
              <!-- QAMATS -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="QAMATS">Qamets ָ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="QAMATS" id="QAMATS"/>
                </div>
              </div>
              <!-- HATAF_QAMATS -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HATAF_QAMATS">Hataf Qamets ֳ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HATAF_QAMATS" id="HATAF_QAMATS"/>
                </div>
              </div>
              <!-- TSERE -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="TSERE">Tsere ֵ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="TSERE" id="TSERE"/>
                </div>
              </div>
              <!-- SEGOL -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SEGOL">Segol ֶ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SEGOL" id="SEGOL"/>
                </div>
              </div>
            </div>
            <!-- Right Col -->
            <div
              class="col-sm">
              <!-- HATAF_SEGOL -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HATAF_SEGOL">Hataf Segol ֱ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HATAF_SEGOL" id="HATAF_SEGOL"/>
                </div>
              </div>
              <!-- HIRIQ -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HIRIQ">Hiriq ִ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HIRIQ" id="HIRIQ"/>
                </div>
              </div>
              <!-- HOLAM -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HOLAM">Holam ֹ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HOLAM" id="HOLAM"/>
                </div>
              </div>
              <!-- QUBUTS -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="QUBUTS">Qubuts ֻ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="QUBUTS" id="QUBUTS"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- VOWELS (1) end -->
  <!-- VOWELS (2) -->
  <div class="modal-card d-none" id="vowels-2-modal">
    <h5 class="modal-title">Vowels (2 of 2)</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 55%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="55"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="vowels-2-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div
              class="col-sm">
              <!-- QAMATS_QATAN -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="QAMATS_QATAN">Qamets Qatan ׇ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="QAMATS_QATAN" id="QAMATS_QATAN"/>
                </div>
              </div>
              <!-- HOLAM_VAV -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HOLAM_VAV">Holam Waw ֹו◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HOLAM_VAV" id="HOLAM_VAV"/>
                </div>
              </div>
              <!-- SHUREQ -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SHUREQ">Shureq וּ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SHUREQ" id="SHUREQ"/>
                </div>
              </div>
            </div>
            <!-- Middle Col -->
            <div
              class="col-sm">
              <!-- HIRIQ_YOD -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="HIRIQ_YOD">Hiriq Yod י◌ִ
                </label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="HIRIQ_YOD" id="HIRIQ_YOD"/>
                </div>
              </div>
              <!-- SEGOL_YOD -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SEGOL_YOD">Segol Yod י◌ֶ
                </label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SEGOL_YOD" id="SEGOL_YOD"/>
                </div>
              </div>
              <!-- TSERE_YOD -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="TSERE_YOD">Tsere Yod י◌ֵ
                </label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="TSERE_YOD" id="TSERE_YOD"/>
                </div>
              </div>
            </div>
            <!-- Right Col -->
            <div
              class="col-sm">
              <!-- QAMATS_HE -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="QAMATS_HE">Qamets He ה◌ָ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="QAMATS_HE" id="QAMATS_HE"/>
                </div>
              </div>
              <!-- SEGOL_HE -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SEGOL_HE">Segol He ה◌ֶ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SEGOL_HE" id="SEGOL_HE"/>
                </div>
              </div>
              <!-- TSERE_HE -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="TSERE_HE">Tsere He ה◌ֵ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="TSERE_HE" id="TSERE_HE"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- VOWELS (2) end -->
  <!-- SYLLABIFICATION start -->
  <div class="modal-card d-none" id="syllabification-modal">
    <h5 class="modal-title">Syllabification</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 66%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="66"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="syllabification-form">
      <p>Select various options for dividing syllables. Most transliteration schemas will have all checked. Hover over the
        tooltip to learn more about each option.</p>
      <div class="form-group">
        <h6>Select the following options:</h6>
        <div
          class="container-sm">
          <!-- Row 1 start -->
          <div
            class="row">
            <!-- longVowels checkbox -->
            <div class="col-sm custom-checkbox form-group">
              <input type="checkbox" name="longVowels" id="longVowels" value=""/>
              <label for="longVowels">Long Vowels</label>
              <span
                class="mx-5"
                data-toggle="tooltip"
                data-title="Check if shewa after long vowels should be vocal"
                data-placement="right">
                <i class="fi-cnsdxm-exclamation-mark"></i>
              </span>
            </div>
            <!-- qametsQatan checkbox -->
            <div class="col-sm custom-checkbox form-group">
              <input type="checkbox" name="qametsQatan" id="qametsQatan" value=""/>
              <label for="qametsQatan">Qamets Qatan</label>
              <span
                class="mx-5"
                data-toggle="tooltip"
                data-title="Check to convert appropriate qamets to qamets qatan"
                data-placement="right">
                <i class="fi-cnsdxm-exclamation-mark"></i>
              </span>
            </div>
          </div>
          <!-- Row 1 end -->
          <!-- Row 2 start -->
          <div
            class="row">
            <!-- sqnmlvy checkbox -->
            <div class="col-sm custom-checkbox form-group">
              <input type="checkbox" name="sqnmlvy" id="sqnmlvy" value=""/>
              <label for="sqnmlvy">Sqnmlvy</label>
              <span
                class="mx-5"
                data-toggle="tooltip"
                data-title="Check if first shewa in waw-consecutive form is vocal even with missing dagesh"
                data-placement="right">
                <i class="fi-cnsdxm-exclamation-mark"></i>
              </span>
            </div>
            <!-- wawShureq checkbox -->
            <div class="col-sm custom-checkbox form-group">
              <input type="checkbox" name="wawShureq" id="wawShureq" value=""/>
              <label for="wawShureq">Waw Shureq</label>
              <span
                class="mx-5"
                data-toggle="tooltip"
                data-title="Check to regard a shewa after a waw-shureq as vocal"
                data-placement="right">
                <i class="fi-cnsdxm-exclamation-mark"></i>
              </span>
            </div>
          </div>
          <div
            class="row">
            <!-- article checkbox -->
            <div class="col-sm custom-checkbox form-group">
              <input type="checkbox" name="sqnmlvy" id="article" value=""/>
              <label for="article">Article</label>
              <span
                class="mx-5"
                data-toggle="tooltip"
                data-title="Check if shewa after article is vocal even with missing dagesh"
                data-placement="right">
                <i class="fi-cnsdxm-exclamation-mark"></i>
              </span>
            </div>
          </div>
          <!-- Row 2 end -->
        </div>
      </div>
    </form>
  </div>
  <!-- SYLLABIFICATION end -->
  <!-- OTHER ORTHOGRAPHIES start -->
  <div class="modal-card d-none" id="orthographies-modal">
    <h5 class="modal-title">Other Orthographies</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 77%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="77"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <form id="orthographies-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div
              class="col-sm">
              <!-- DAGESH -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="DAGESH">Dagesh</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="DAGESH" id="DAGESH"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Typically blank" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
              <!-- MAQAF -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="MAQAF">Maqaf ־◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="MAQAF" id="MAQAF"/>
                </div>
              </div>
              <!-- SYLLABLE_SEPARATOR -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SYLLABLE_SEPARATOR">Syllable Separator</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SYLLABLE_SEPARATOR" id="SYLLABLE_SEPARATOR"/>
                  <span class="mx-5" data-toggle="tooltip" data-title="Typically blank" data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- Middle Col -->
            <div
              class="col-sm">
              <!-- PASEQ -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="PASEQ">Paseq ׀ ◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="PASEQ" id="PASEQ"/>
                  <span
                    class="mx-5"
                    data-toggle="tooltip"
                    data-title="if blank, two spaces will occur between words"
                    data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
              <!-- SOF_PASUQ -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="SOF_PASUQ">Sof Pasuq ׃◌</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="SOF_PASUQ" id="SOF_PASUQ"/>
                </div>
              </div>
              <!-- MS_SUFX -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="MS_SUFX">3ms Suffix יו◌ָ</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="MS_SUFX" id="MS_SUFX"/>
                </div>
              </div>
            </div>
            <!-- Right Col -->
            <div
              class="col-sm">
              <!-- DIVINE_NAME -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="DIVINE_NAME">Divine Name יהוה</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="DIVINE_NAME" id="DIVINE_NAME"/>
                </div>
              </div>
              <!-- DIVINE_NAME -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="DIVINE_NAME_ELOHIM">Divine Name יֱהֹוִה</label>
                <div class="d-flex align-items-center">
                  <input type="text" class="form-control w-half" name="DIVINE_NAME_ELOHIM" id="DIVINE_NAME_ELOHIM"/>
                </div>
              </div>
              <!-- DAGESH_CHAZAQ -->
              <div class="col flex-fill font-size-16 mt-5">
                <label for="DAGESH_CHAZAQ">Doubling Dagesh</label>
                <div class="d-flex align-items-center">
                  <input type="checkbox" name="DAGESH_CHAZAQ" id="DAGESH_CHAZAQ" value=""/>
                  <span
                    class="mx-5"
                    data-toggle="tooltip"
                    data-title="Check to repeat the consonant with a dagesh chazaq/forte"
                    data-placement="bottom">
                    <i class="fi-cnsdxm-exclamation-mark"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- OTHER ORTHOGRAPHIES end -->
  <!-- STRESS MARKER start -->
  <div class="modal-card d-none" id="stress-modal">
    <h5 class="modal-title">Stress Marker</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 88%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="88"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>An optional mark to indicate stress. Text must have taamim/cantillation to indicate stress.</p>
    <form id="stress-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div class="col-sm">
              <div class="col flex-fill font-size-16 mt-5">
                <div class="d-flex align-items-center mb-10" id="STRESS_MARKER">
                  <div class="col-3 mr-5">
                    <label for="mark">Mark</label>
                    <div class="d-flex align-items-center">
                      <input type="text" class="form-control" name="mark" id="mark"/>
                    </div>
                  </div>
                  <div class="col-9">
                    <label for="location">Location</label>
                    <select name="location" class="form-control" id="location">
                      <option value="">...</option>
                      <option value="before-syllable">before-syllable (e.g šā'lôm)</option>
                      <option value="after-syllable">after-syllable (e.g šālôm')</option>
                      <option value="before-vowel">before-vowel (e.g šāl'ôm)</option>
                      <option value="after-vowel">after-vowel (e.g šālô'm)</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- STRESS MARKER end -->
  <!-- ADDITIONAL FEATURES start -->
  <div class="modal-card d-none" id="features-modal">
    <h5 class="modal-title">Additional Features</h5>
    <!-- Progress bars -->
    <div class="progress mb-10">
      <div
        class="progress-bar"
        style="width: 100%"
        role="progressbar"
        aria-labelledby="customization"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <p>An optional property to define non-typical Hebrew orthographies (e.g. זּ as 'tz').
    </p>
    <div class="alert alert-secondary" role="alert">
      This is an advanced feature for unique cases. See
      <a href="https://github.com/charlesLoder/hebrew-transliteration#4-others" class="alert-link">the docs</a>
      for more information.
    </div>
    <form id="features-form">
      <div class="form-group">
        <div class="container-sm">
          <div
            class="row">
            <!-- Left Col -->
            <div class="col-sm">
              <div class="col flex-fill font-size-16 mt-5">
                <h5>Additional Features</h5>
                <div id="ADDITIONAL_FEATURES"></div>
                <div class="d-flex justify-content-end">
                  <button id='additional-feature-btn' class="btn btn-success btn-square ml-auto" type="button">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- ADDITIONAL FEATURES end -->
{% endblock %}
{% block controls %}
  <!-- Schema button footer start -->
  {% include "basic-modal-control.njk" %}
  <p>You can save a schema by downloading it for later.</p>
  <button class="btn btn-primary w-full" id="download-schema">Download schema</button>
  <!-- Schema button footer end -->
{% endblock %}