<extends src='layout.html'>
  <block name='content'>
    <form name="transliteration">
      <h1>Enter Text</h1>
      <p>
        <input type="checkbox" name="qametsQatan" id="qametsQatan">
        <label for="qametsQatan">Check to distinguish between Qamets Qatan and Qamets Gadol</label>
      </p>
      <!-- The text is inputed here  -->
      <div class="input-area">
        <label for="input">Type or Paste Text Here:</label><br>
        <textarea id="input" name="input_text" rows="4" cols="40" placeholder="עברית" style="text-align: right; font: 20px SBL Hebrew, Times New Roman, serif; "></textarea><br>
      </div>

      <!-- The Text is outputted here  -->
      <div class="output-area">
        <label for="output">Transliteration:</label><br>
        <textarea id="output" name="output_text" rows="5" cols="40" placeholder="ʿbryt" style="font: italic 16px Charis SIL Compact, Charis SIL, Times New Roman, serif;"></textarea><br>
      </div>

      <button id="input_button" type="button" name="submit_button">Transliterate</button>
      <button type="reset" name="reset_button">Reset</button> <br>

    </form>
  </block>

  <block name='javascript'>
    <script src='js/transliterate.js' defer></script>
  </block>
</extends>
