<extends src="layout.html">
  <block name="content">
    <form name="transliteration">
      <h1>Transliteration</h1>
      <p id="more-info">
        For more information about SBL's guidelines, see the
        <a href="about.html">About</a> page.
      </p>
      <p>
        <input type="checkbox" name="qametsQatan" id="qametsQatan" />
        <label for="qametsQatan"
          >Check to distinguish between Qamets Qatan and Qamets Gadol</label
        >
      </p>
      <p id="qametsInfo">
        For best results (1) use full masorah and (2) real, contextual forms.
        The logic for this option is based on examples from the text.
        <br />
        A list of words and rules that are accounted for can be found
        <a
          href="https://github.com/charlesLoder/hebrew-transliteration/issues/4"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >. If you find anything that is incorrect, please
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSeMihNJAMkswj78ZiUoYdV2uczqa86-YkwtgsuC-GgOMjKdXg/viewform"
          >submit feedback</a
        >
      </p>
      <p>
        <input type="checkbox" name="isSimple" id="isSimple" />
        <label for="isSimple"
          >Check to use the simpler General Purpose Style</label
        >
      </p>
      <!-- The text is inputed here  -->
      <div class="input-area">
        <label for="input">Hebrew:</label><br />
        <textarea
          id="input"
          name="input_text"
          rows="4"
          cols="40"
          placeholder="עִבְרִית"
          style="
            text-align: right;
            font: 20px SBL Hebrew, Times New Roman, serif;
          "
        ></textarea
        ><br />
      </div>

      <!-- The Text is outputted here  -->
      <div class="output-area">
        <label for="output">Transliteration:</label><br />
        <textarea
          id="output"
          name="output_text"
          rows="5"
          cols="40"
          placeholder="ʿibrît"
          style="
            font: italic 16px Charis SIL Compact, Charis SIL, Times New Roman,
              serif;
          "
        ></textarea
        ><br />
      </div>

      <button id="input_button" type="button" name="submit_button">
        Transliterate
      </button>
      <button type="reset" name="reset_button">Reset</button> <br />
    </form>
  </block>

  <block name="javascript">
    <script src="js/transliterate.js" defer></script>
  </block>
</extends>
