<extends src='layout.html'>
  <block name='content'>
    <h1>Tips</h1>
    <h2>What's the best text to use?</h2>
    <p>Any unicode Hebrew text will work. You can enter the text yourself or copy and paste the text from your favorite
      online Hebrew Bible.</p>
    <h2>Some transliterations don't seem right.</h2>
    <p>There are a few known issues. Defectively written long vowels are not properly transliterated nor short vowels
      written using a mater. The qamtas qatan is not always accurate as well.</p>
    <h2>What should I do if I find something wrong?</h2>
    <p>Feel free to send me a message through GitHub or Academia.edu.</p>
    <h2>Can I work on the code myself?</h2>
    <p>Yes! The code is freely available on GitHub. Hack away!</p>
  </block>
</extends>
