<extends src="layout.html">
  <block name="content">
    <h1>Tips</h1>
    <h2>What's the best text to use?</h2>
    <p>
      Any unicode Hebrew text will work, though I recommend
      <a
        href="https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94"
        target="_blank"
        rel="noopener"
        ><i>Miqra According to the Masorah.</i></a
      >
      You can enter the text yourself or copy and paste the text from your
      favorite online Hebrew Bible.
    </p>
    <h2>Some transliterations don't seem right.</h2>
    <p>
      There are a few known issues. Defectively written long vowels are not
      properly transliterated nor short vowels written using a mater. The qamtas
      qatan is not always accurate as well.
    </p>
    <h2>What should I do if I find something wrong?</h2>
    <p>
      Please submit
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSeMihNJAMkswj78ZiUoYdV2uczqa86-YkwtgsuC-GgOMjKdXg/viewform"
        target="_blank"
        rel="noopener"
        >Feedback</a
      >!
    </p>
    <h2>Can I work on the code myself?</h2>
    <p>
      Yes! The code for the
      <a
        href="https://github.com/charlesLoder/hebrew-transliteration"
        target="_blank"
        rel="noopener"
        >transliteration module</a
      >
      and the
      <a
        href="https://github.com/charlesLoder/hebrewTransliteration"
        target="_blank"
        rel="noopener noreferrer"
        >website</a
      >
      are available on Github. Hack away!
    </p>
  </block>
</extends>
