<!DOCTYPE html>
<html lang="{{ config.lang }}">
  {% include "head.njk" %}
  <!-- htmlmin:ignore -->
  <body {% edge "liquid" %} class="{{ eleventy.edge.cookies['halfmoon_preferredMode'] }}" {% endedge %} >
    <!-- htmlmin:ignore -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    {% include "feedback.njk" %}
    {% for modal in modals %}
      <!-- Modal start -->
      {% include modal.src %}
      <!-- Modal end -->
    {% endfor %}
    <!-- Page wrapper start -->
    <div class="page-wrapper with-navbar">
      {% include "nav.njk" %}
      <!-- Content wrapper start -->
      <div class="content-wrapper position-static bg-light-lm bg-very-dark-dm">
        {% block card %}
          {{ card | safe }}
        {% endblock %}
      </div>
      <!-- Content wrapper end -->
    </div>
    <!-- Page wrapper end -->
    <script>
      const toggle = document.querySelector('#dm-toggle');
      toggle.addEventListener('click', () => halfmoon.toggleDarkMode())
    </script>
  </body>
</html>