{% extends config.base %}
{% block card %}
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <main class="card w-full w-md-three-quarter shadow-lg">
          <h1 class="card-title font-size-24">
            {{ title }}
          </h1>
          {% block content %}
            {{ content | safe }}
          {% endblock %}
          <div class="dropdown-divider my-15"></div>
          <footer class="d-flex flex-column flex-md-row align-items-center justify-content-between mt-10">
            <div>
              &copy;&nbsp;2022 Charles&nbsp;Loder
            </div>
            <div class="d-flex flex-row align-items-center mt-10 mt-md-0">
              <span class="d-none d-md-block">Follow me on</span>
              {% for icon in config.socialIcons %}
                <a href="{{ icon.url | url }}" aria-label="{{ icon.text }}" class="social-link ml-5" target="_blank" rel="noopener noreferrer">
                  <i class="{{ icon.faIcon }}"></i>
                </a>
              {% endfor %}
            </div>
          </footer>
          <div class="font-size-12 font-italic mt-5 text-center text-md-right">icons by
            <a class="hyperlink text-reset" href="https://friconix.com/" target="_blank" rel="noopener noreferrer">friconix</a>
          </div>
        </main>
      </div>
    </div>
  </div>
  {% if jsFile %}
    <script defer="true" src="{{ jsFile }}"></script>
  {% endif %}
{% endblock %}