{% extends config.base %}
{% block card %}
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <main class="card w-full w-md-three-quarter shadow-lg bg-dark-light-dm">
          <h1 class="card-title font-size-24">
            {{ title }}
          </h1>
          {% block content %}
            {{ content | safe }}
          {% endblock %}
          <div class="dropdown-divider my-15"></div>
          <footer class="d-flex flex-column flex-md-row align-items-center align-items-md-start  justify-content-between mt-10">
            <div class="d-flex flex-column">
              <a href="https://www.buymeacoffee.com/charlesLoder" target="_blank" rel="noopener noreferrer">
                <img width="150" height="43" class="img-fluid" src="{{ '/assets/img/bmc-button.svg' | url }}" alt="Buy me a coffee!"/>
              </a>
              <div class="mt-5">&copy;&nbsp;{% year %} Charles&nbsp;Loder</div>
            </div>
            <div class="d-flex flex-column align-items-start mt-5 mt-md-0">
              <p class="d-none d-md-block mb-5 mt-0">Follow me on:</p>
              <div class="d-flex justify-content-start gap-1">
                {% for icon in config.socialIcons %}
                  <a href="{{ icon.url | url }}" aria-label="{{ icon.text }}" class="social-link" target="_blank" rel="noopener noreferrer">
                    <i class="{{ icon.faIcon }}"></i>
                  </a>
                {% endfor %}
              </div>
              <div class="font-size-12 font-italic mx-auto mx-md-0 ml-md-auto mt-10">icons by
                <a class="hyperlink text-reset" href="https://friconix.com/" target="_blank" rel="noopener noreferrer">friconix</a>
              </div>
            </div>
          </footer>
          <div class="d-flex flex-column flex-md-row mt-5 align-items-center justify-content-between">
            <div class="font-size-12 text-center text-md-left">
              <a class="hyperlink text-reset" href="{{ processEnv.htHomepage }}" target="_blank" rel="noopener noreferrer">
                {{ processEnv.htName }}: {{ processEnv.htVersion }}
              </a>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  {% if jsFile %}
    <script defer="true" src="{{ jsFile }}"></script>
  {% endif %}
{% endblock %}