{% extends "./card.njk" %}
{% block content %}
  {% if mainText %}
    <p id="mainText">{{ mainText }}</p>
  {% endif %}
  <div class="txt-area-wrapper d-flex flex-column">
    <div class="alert alert-secondary mb-10 font-size-12" role="alert" id="browser-alert" hidden>
      The recommended browsers are Chrome or Firefox for desktop.
      <br>Everything will work fine! There may be a little lag though.
      </div>
      {% set inClasses = ["form-control", (inTxt.classes | join(' '))] | join(' ') %}
      <textarea class="{{ inClasses }}" placeholder="{{ inTxt.placeholder }}" dir="{{ inTxt.dir }}" id="input"></textarea>
      <div class="mt-10 font-size-12 font-italic" role="alert" id="last-visit" hidden>
        using transliteration schema from last visit, click Settings to change
      </div>
      <button class="btn btn-primary mx-auto my-20" id="action-btn">{{ actionBtn }}</button>
      {% set outClasses = ["form-control", (outTxt.classes | join(' '))] | join(' ') %}
      <textarea class="{{ outClasses }}" placeholder="{{ outTxt.placeholder }}" dir="{{ outTxt.dir }}" id="output"></textarea>
      {% if modals.length %}
        <div class="d-flex flex-column flex-sm-row-reverse  mt-20">
          {% for modal in modals %}
            <div class="">
              <a href="{{ modal.btnHref }}" class="btn btn-primary w-full w-sm-auto mb-20 mb-sm-0 ml-sm-20" role="button">{{ modal.btnText }}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if jsFile %}
      <script defer="true" type="modlue" src="{{ jsFile }}"></script>
    {% endif %}
  {% endblock %}