{% extends "./card.njk" %}
{% block content %}
  {% if mainText %}
    <p id="mainText">{{ mainText }}</p>
  {% endif %}
  <div class="txt-area-wrapper d-flex flex-column">
    <div class="alert alert-secondary mb-10 font-size-12" role="alert" id="browser-alert" hidden>
      The recommended browsers are Chrome or Firefox for desktop.
      <br>Everything will work fine! There may be a little lag though.
      </div>
      {% set inClasses = ["form-control", (inTxt.classes | join(' '))] | join(' ') %}
      <textarea class="{{ inClasses }}" placeholder="{{ inTxt.placeholder }}" dir="{{ inTxt.dir }}" id="input"></textarea>
      <div class="mt-10 font-size-12 font-italic" role="alert" id="last-visit" hidden>
        using transliteration schema from last visit, click Settings to change
      </div>
      <div class="sk-chase mx-auto d-none" id="spinner">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
      <button class="btn btn-primary mx-auto my-20" id="action-btn">
        <span id="btn-txt" class="">{{ actionBtn }}</span>
      </button>
      {% set outClasses = ["form-control", (outTxt.classes | join(' '))] | join(' ') %}
      <textarea class="{{ outClasses }}" placeholder="{{ outTxt.placeholder }}" dir="{{ outTxt.dir }}" id="output"></textarea>
      <div
        id="controls-container"
        class="d-flex flex-column-reverse flex-sm-row justify-content-between align-items-center mt-20">
        <div id="left-controls" class="w-full w-sm-auto">
          <a href="#feedback-modal" class="btn btn-primary w-full" role="button">Feedback</a>
        </div>
        {% if modals.length %}
          <div id="right-controls" class="d-flex flex-column flex-sm-row-reverse justify-content-between w-full w-sm-auto">
            {% for modal in modals %}
              <div class="ml-sm-5 ml-md-0">
                <a href="{{ modal.btnHref }}" class="btn btn-primary w-full w-md-auto mb-20 mb-sm-0 ml-md-20" role="button">{{ modal.btnText }}</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    {% if jsFile %}
      <script defer="true" type="modlue" src="{{ jsFile }}"></script>
    {% endif %}
  {% endblock %}