* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100vh;
}

h2 {
  font-size: 1.125em;
  margin-bottom: 10px;
}

p {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.75em;
  margin-bottom: 1.25em;
}

ol {
  padding-left: 1em;
  font-size: 0.9em;
}

ol > li {
  padding-top: 0.5em;
}

ul {
  list-style: none;
}
