header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.banner {
  margin: 20px 20px 10px 20px;
  font-size: 24px;
  text-align: center;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.page-links {
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.page-links li {
  text-align: center;
  padding: 5px 15px;
  margin: 5px;
  width: 40%;
}

.page-links li a:hover {
  font-weight: 800;
  /* font-size: 20px; */
}

.selected {
  font-style: italic;
}

.page-links li:first-child,
.page-links li+li {
  border-bottom: 1px solid;
}

#nav-arrow {
  font-size: 32px;
  padding: 0px 30px;
}
