main {
  background-color: #f4f3f0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: white;
}

#feedback {
  width: 6rem;
  height: 2.5rem;
  position: fixed;
  top: 50%;
  right: -2rem;
  transform: rotate(90deg);
  background: #404040;
  color: #fff;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

#feedback a {
  display: block;
  padding-top: 0.75rem;
}
