:root {
  /* dm primary buttons */
  --dm-button-primary-bg-color: #7370af;
  --dm-button-primary-border-color: #7370af;
  --dm-button-primary-bg-color-hover: #857cfc;
  --dm-button-primary-border-color-hover: #857cfc;
  --dm-button-primary-text-color: #ffffff;
  /* dm success buttons */
  --dm-button-success-bg-color: #51d195;
  --dm-button-success-border-color: #51d195;
  /* dm other purple elements */
  --dm-input-border-color-focus: #7370af;
  --dm-progress-bar-bg-color: #7370af;
  --dm-checkbox-bg-color-checked: #7370af;
  --dm-checkbox-border-color-checked: #7370af;
  --dm-link-text-color: #7370af;
  --dm-link-text-color-hover: #857cfc;
  /* etc */
  --modal-content-max-width: 50rem;
  --tooltip-width: 15rem;
}

textarea {
  resize: none;
}

/* try to improve w/ font face */
.heb-text-area {
  font-family: "SBL Hebrew", "Times New Roman", "serif";
}

.transliteration-text-area {
  font-family: "Charis SIL", "Times New Roman", "serif";
  font-style: italic;
}

.social-wrapper {
  white-space: nowrap;
}
