---js
{
  title: "",
  description: "Accurate Hebrew transliteration made easy: use premade or custom schemas for academic or personal needs.",
  layout: "functions.njk",
  mainText: "",
  actionBtn: "Transliterate",
  inTxt: {
    dir: "rtl",
    placeholder: "עִבְרִית",
    classes: ["heb-text-area", "font-size-24"]
  },
  outTxt: {
    dir: "ltr",
    placeholder: "",
    classes: ["transliteration-text-area", "font-size-20", "text-extra-letter-spacing"]
  },
  jsFile: "/assets/transliterate.js",
  modals: [{
    src: "schema-modal.njk",
    id: "schema-modal",
    btnHref: "#schema-modal",
    btnText: "Settings"
  },
  {
    src: "tips-modal.njk",
    id: "tips-modal",
    btnHref: "#tips-modal",
    btnText: "Tips"
  }],
}
---
