---js
{
  title: "Remove",
  description: "Remove taamim and niqqud from Hebrew text",
  mainText: "Remove taamim and niqqud from Hebrew text.",
  layout: "functions.njk",
  actionBtn: "Remove",
  inTxt: {
    dir: "rtl",
    placeholder: "שָׂרַ֣י אִשְׁתְּךָ֔",
    classes: ["heb-text-area", "font-size-24"]
  },
  outTxt: {
    dir: "rtl",
    placeholder: "שָׂרַי אִשְׁתְּךָ",
    classes: ["heb-text-area", "font-size-24"]
  },
  jsFile: "/assets/remove.js",
  modals: [{
    src: "remove-modal.njk",
    id: "remove-modal",
    btnHref: "#remove-modal",
    btnText: "Settings"
  }],
  removeOptions: [
    {
      title: "Accents (1 of 3)",
      type: "card",
      progress: 0,
      rows: [
        [
          "ETNAHTA",
          "SEGOLTA",
          "SHALSHELET",
          "ZAQEF_QATAN"
        ],
        [
          "ZAQEF_GADOL",
          "TIPEHA",
          "REVIA",
          "ZARQA"
        ],
        [
          "PASHTA",
          "YETIV",
          "TEVIR",
          "GERESH"
        ]
      ]
    },
    {
      title: "Accents (2 of 3)",
      type: "card",
      progress: 17,
      rows: [
        [
          "GERESH_MUQDAM",
          "GERSHAYIM",
          "QARNEY_PARA",
          "TELISHA_GEDOLA"
        ],
        [
          "PAZER",
          "ATNAH_HAFUKH",
          "MUNAH",
          "MAHAPAKH"
        ],
        [
          "MERKHA",
          "MERKHA_KEFULA",
          "DARGA",
          "QADMA"
        ]
      ]
    },
    {
      title: "Accents (3 of 3)",
      type: "card",
      progress: 34,
      rows: [
        [
          "TELISHA_QETANA",
          "YERAH_BEN_YOMO",
          "OLE"
        ],
        [
          "ILUY",
          "DEHI",
          "ZINOR"
        ]
      ]
    },
    {
      title: "Points (1 of 2)",
      type: "card",
      progress: 51,
      rows: [
        [
          "SHEVA",
          "HATAF_SEGOL",
          "HATAF_PATAH",
          "HATAF_QAMATS"
        ],
        [
          "HIRIQ",
          "TSERE",
          "SEGOL",
          "PATAH"
        ],
        [
          "QAMATS",
          "HOLAM",
          "QUBUTS",
          "QAMATS_QATAN"
        ]
      ]
    },
    {
      title: "Points (2 of 2)",
      type: "card",
      progress: 68,
      rows: [
        [
          "DAGESH",
          "METEG",
          "RAFE"
        ],
        [
          "SHIN_DOT",
          "SIN_DOT"
        ]
      ]
    },
    {
      title: "Punctuation",
      type: "card",
      progress: 100,
      rows: [
        [
          "MAQAF",
          "PASEQ",
          "SOF_PASUQ",
          "NUN_HAFUKHA"
        ],
        [
          "PUNC_GERESH",
          "PUNC_GERSHAYIM",
          "MASORA_CIRCLE"
        ],
        [
          "UPPER_DOT",
          "LOWER_DOT"
        ]
      ]
    },
  ],
}
---
